<!-- ##コンテンツヘッダー Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">

            <!-- ##コンテンツヘッダー（左側） -->
            <div class="col-sm-6">
                <h1 class="m-0 text-dark "><i class="ion ion-cube"></i> 機器台帳</h1>
            </div>
            <!-- ##コンテンツヘッダー（右側） -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">機器台帳</li>
                </ol>
            </div>
        </div>

        <!-- メッセージフレームワーク -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div  {% if message.tags %} class="alert alert-{{ message.tags }}  alert-dismissible" role="alert"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</section>