{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>

<div class="content-wrapper">

    <!-- ##コンテンツヘッダー Content Header (Page header) -->
    {% include './kiki_content_header.html' %}

    <!-- コンテンツ(流動的コンテナ) -->
    <section class="content">
        <div class="container-fluid">
            <!-- row(機器台帳（詳細）） -->
            <div class="row">
                <!-- col(左側) -->
                <div class="col-md-6">
                    <div class="card card-danger">
                        <!-- card-header -->
                        <div class="card-header">
                            <h3 class="card-title">機器台帳（削除）</h3>
                        </div>
                        <!-- card-body -->
                        <div class="card-body">
                            <ul class="list-group list-group-unbordered mb-3">
                              <li class="list-group-item">
                                  <label class="col-md-3">機器ID</label>{{ kiki.kiki_id }}</li>
                              <li class="list-group-item">
                                  <label class="col-md-3">機器番号</label>{{ kiki.kiki_name }}</li>
                              <li class="list-group-item">
                                  <label class="col-md-3">系統</label>{{ kiki.keito }}</li>
                              <li class="list-group-item">
                                  <label class="col-md-3">設置場所</label>{{ kiki.settibasho }}</li>
                              <li class="list-group-item">
                                  <label class="col-md-3">重要度</label>{{ kiki.juyodo }}</li>
                              <li class="list-group-item">
                                  <label class="col-md-3">耐用年数</label>{{ kiki.nensu }}</li>
                            </ul>
                            <form method="post">
                                {% csrf_token %}
                                <p class="text-danger font-weight-bold">
                                    機器ID：{{ kiki.kiki_id }}／機器名称：{{ kiki.kiki_name }}を削除しますか？</p>
                                <button type=“submit” class="btn btn-danger" id="button" name="button">
                                    <i class="far fa-trash-alt"></i>　削除
                                </button>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button type=“button” class="btn btn-secondary"
                                onclick="location.href='/kiki/'"><i class="fas fa-list"></i>　戻る</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
<!--
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>DeleteViewサンプル</title>
</head>

<body>
-->
<!--    <h1>DeleteView削除確認画面</h1>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        <p>{{ kiki.kiki_id }}/{{ kiki.kiki_name }}を削除しますか？</p>-->
<!--        <input type="submit" value="削除する">-->
<!--    </form>-->
<!--    <div>-->
<!--        <button onclick="location.href='/kiki/'">Return</button>-->
<!--    </div>-->

<!--
</body>

</html>
-->