{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>

<div class="content-wrapper">

    <!-- ##コンテンツヘッダー Content Header (Page header) -->
    {% include './kiki_content_header.html' %}

    <!-- コンテンツ(流動的コンテナ) -->
    <section class="content">
        <div class="container-fluid">
            <!-- row(機器台帳（詳細）） -->
            <div class="row">
                <!-- col(左側) -->
                <div class="col-md-6">
                    <div class="card card-info">
                        <!-- card-header -->
                        <div class="card-header">
                            <h3 class="card-title">機器台帳（登録）</h3>
                        </div>
                        <!-- card-body -->
                        <div class="card-body">
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <table class="table">
                                    <tr>
                                        <th style="width:20%">項目名</th>
                                        <th style="width:30%">入力値</th>
                                        <th style="width:50s%">メッセージ</th>
                                    </tr>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <tr class="table-danger">
                                        {% else %}
                                            <tr>
                                        {% endif %}
                                            <td class="align-middle">{{ field.label }} </td>
                                            <td class="align-middle">{{ field }}</td>
                                                {% if field.errors %}
                                                    <td class="align-middle">{{ field.errors }}</td>
                                                {% else %}
                                                    <td class="align-middle"></td>
                                                {% endif %}
                                        </tr>
                                    {% endfor %}
                                </table>
                                <button type=“submit” class="btn btn-info btn-lg" id="button" name="button">
                                    <i class="fas fa-save"></i>　登録
                                </button>
                            </form>
                        </div>

                        <div class="card-footer">
                            <button type=“button” class="btn btn-secondary float-right"
                                    onclick="location.href='/kiki/'"><i class="fas fa-list"></i>　戻る</button>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock content %}
