{% extends 'base.html' %}
{% block content %}
<!--
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <script type="text/javascript">
        $(function() {
            var topBtn = $('#page-top');
            topBtn.hide();
            //スクロールが500に達したらボタン表示
            $(window).scroll(function () {
                if ($(this).scrollTop() > 500) {
                    topBtn.fadeIn();
                } else {
                    topBtn.fadeOut();
                }
            });
            //スクロールしてトップ
            topBtn.click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 500);
                return false;
            });
        });
    </script>

    <title>ListViewサンプル</title>
</head>

<body>

-->

<div class="content-wrapper">

    <!-- ##コンテンツヘッダー Content Header (Page header) -->
    {% include './kiki_content_header.html' %}

    <!-- コンテンツ(流動的コンテナ) -->
    <section class="content">
        <div class="container-fluid">
            <!-- row(検索条件) -->
            <div class="row">
                <!-- col(左側) -->
                <div class="col-md-6">
                    <div class="card card-primary">
                        <!-- card-header -->
                        <div class="card-header">
                            <h3 class="card-title">検索条件</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- card-body -->
                        <div class="card-body">
                            <form method="POST" ,role="form">
                                {% csrf_token %}
                                <div class="col">
                                    <label class="col-md-3">{{ test_form.kiki_id.label }}</label>
                                    {{ test_form.kiki_id }}
                                </div>
                                <div class="col">
                                    <label class="col-md-3">{{ test_form.kiki_name.label }}</label>
                                    {{ test_form.kiki_name }}
                                </div>
                                <div class="col">
                                    <p></p>
                                    <button type="submit" class="btn btn-primary" id="button" name="button">
                                        <i class="fas fa-search"></i> 検索
                                    </button>
                                </div>
                            </form>

                        </div>
                        <!--
                        <div class="card-footer"></div>
                        -->
                    </div>
                </div>
            </div>

            <!-- row(検索結果) -->
            <div class="row">
                <div class="col-md-6">                  <!-- col(Left) -->

                    <div class="card card-primary">
                        <!-- card-header -->
                        <div class="card-header">
                            <h3 class="card-title">機器台帳一覧</h3>
                            <div class="card-tools">
                                <button type=“button” class="btn btn-default btn-sm"
                                        onclick="location.href='/kiki/create/'"><i class="fas fa-pen"></i> 新規作成
                                </button>
                            </div>
                        </div>
                        <!-- card-body -->
                        <div class="card-body">

                            <table id="example2" class="table table-bordered table-hover">
                                {% if kiki_list|length == 0 %}
                                <p>検索結果が存在しません。</p>
                                {% else %}
                                <thead>
                                <tr>
                                    <th style="width:10%" class="text-center">機器ID</th>
                                    <th style="width:17%" class="text-center">機器名称</th>
                                    <th style="width:15%" class="text-center">系統</th>
                                    <th style="width:15%" class="text-center">設置場所</th>
                                    <th style="width:10%" class="text-center">重要度</th>
                                    <th style="width:10%" class="text-center">耐用年</th>
                                    <th style="width:23%" class="text-center">詳細/編集/削除</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for kiki in kiki_list %}
                                <tr>
                                    <td>{{ kiki.kiki_id }}</td>
                                    <td>{{ kiki.kiki_name }}</td>
                                    <td>{{ kiki.keito }}</td>
                                    <td>{{ kiki.settibasho }}</td>
                                    <td class="text-center">{{ kiki.juyodo }}</td>
                                    <td class="text-center">{{ kiki.nensu }}</td>
                                    <td class="text-right">
                                        <a class="btn btn-secondary btn-sm" href="{% url 'detail' kiki.pk %}">詳細</a>
                                        <a class="btn btn-warning btn-sm" href="{% url 'update' kiki.pk %}">編集</a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'delete' kiki.pk %}">削除</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                {% endif %}
                            </table>

                        </div>
                        <!-- card-footer -->
                        <div class="card-footer">
                            <!-- ページネーション -->
                            {% if is_paginated %}
                            {% include 'pagination.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--
</body>

</html>
-->
{% endblock content %}