{% extends 'base.html' %}
{% block content %}

<div class="content-wrapper">

    <!-- ##コンテンツヘッダー Content Header (Page header) -->
    {% include './kiki_content_header.html' %}

    <!-- コンテンツ(流動的コンテナ) -->
    <section class="content">
        <div class="container-fluid">
            <!-- row(機器台帳（詳細）） -->
            <div class="row">
                <!-- col(左側) -->
                <div class="col-md-6">
                    <div class="card card-dark">
                        <!-- card-header -->
                        <div class="card-header">
                            <h3 class="card-title">機器台帳（CSVインポート）</h3>
                        </div>
                        <!-- card-body -->
                        <div class="card-body">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.non_field_errors }}
                                    <p>{{form.file.help_text}}</p>
                                    <div class="field">
                                        <div>{{form.file.label_tag}}</div>
                                        <div>{{form.file}}</div>
                                        <p></p>
                                        {% if form.errors %}
                                            <div class="alert alert-danger">
                                                {{form.file.errors}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <br/>
                                <button type=“submit” class="btn btn-dark btn-lg" id="button" name="button">
                                    <i class="fas fa-file-upload"></i>　アップロード
                                </button>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button type=“button” class="btn btn-secondary float-right"
                                    onclick="location.href='/kiki/'"><i class="fas fa-list"></i>　戻る</button>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock content %}